@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&display=swap');

.solid,
.outline {
  width: 250px;
  height: 250px;
  display: inline-block;
  margin: 1rem;
}
.outline {
  background-color: transparent;
  border: 2px solid black ;
}
.solid {
  background-color: lightblue;
  border: 0;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}
/* img {
  width: 500px;
  object-fit: cover;
  background-color: black;
}
img:hover {
  filter: brightness(50%);
} */

header {
  background-color: rgb(164, 0, 164);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: white;
}
.header--logo {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.header--logo img {
  width: 50px;
}

main {
  padding: 2rem ;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .form {
  align-self: stretch;
}
main .inputBoxs {
  padding-bottom: 2rem;
  display: flex;
  column-gap: 2rem;
}
@media (max-width: 800px) {
  .inputBoxs {
    flex-direction: column;
    gap: 2rem;
  }
}
main .form input:focus {
  border: 2px solid rgb(56, 56, 56);
}
main .form input {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  border: 1px solid gray;
  font-size: 1.2rem;
  padding-left: 1rem;
  outline: none;
}
main button {
  color: white;
  width: 100%;
  height: 50px;
  font-size: 1.5rem;
  border-radius: 8px;
  border: 0;
  background-color: rgb(164, 0, 164);
  cursor: pointer;
}
main button:hover {
  background-color: rgb(129, 0, 129);
}
main .memeImage {
  width: 100%;
  height: 400px;
  object-fit: contain;
  margin-top: 2rem;
}

.meme {
  width: fit-content;
  position: relative;
  display: flex;
  justify-content: center;
}
.meme .memeText {
  font-size: 3rem;
  box-sizing: content-box;
  position: absolute;
  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  text-align: center;
}
.meme .memeText.top {
  top: 2rem;
}
.meme .memeText.bottom {
  bottom: 0;
}